<ion-view>
    <ion-header-bar  class="bar bar-header" ng-class="bar_color">
        <button class="button button-clear" ng-click="AgentBack();"><i class="icon ion-ios7-arrow-left"></i></button>
        <h1 class="title">Contacts List</h1>
    </ion-header-bar>
    <ion-content >
       
        
        <div ng-repeat="agent in agents" ng-click="showdetails(agent.avatar,agent.fullname,agent.email,agent.phone);" align="center" style="width:33.33%; padding:1%;float:left; position:relative;">
            
            <img class="item item-divider" src="{{agentavatar(agent.avatar)}}" style="padding:1%; border-radius:4px; width:90px; height:90px;">
                
                <div class="item item-divider" style="opacity: 0.7;padding-top:0px;padding-bottom:0px;width:94px;height:40px; font-size:16px; padding:1%; align:center;border-radius:4px;">
                    {{agent.fullname}}
                </div>
                
                </div>
        
    </ion-content>
    
</ion-view>